<%- include("../partials/header") %>

<form class="reset-card" action="/new-password" method="POST">
    <div class="title-reset">
        <h2>New Password</h2>
    </div>
    <input type="password" name="password" id="password" />
    <input type="hidden" name="userId" value="<%=userId%>" />
    <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
    <button type="submit">Update Password</button>
</form>
