<%- include("../partials/header") %>
    <form class="reset-card" action="/reset" method="post">
        <div class="title-reset">
            <h2>Reset Password</h2>
        </div>
        <input type="email" name="email" placeholder="email" />
        <button type="submit">Send</button>
    </form>
