<%- include("../partials/normal-header") -%>
<div class="collection-from">
    <form action="/create-collection" method="post">
        <input name="collectionName" placeholder="Collection Name"/>
        <button type="submit">Create Collection</button>
    </form>
</div>