*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    padding: 2% 9%;
    min-height: 100vh;
}
.custom{
    background-color: transparent !important;
}
.custom-col{
    color: white !important;
    font-weight: 700;
}
.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 128, 128, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/*home page*/
.main{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.home-content{
    text-align: center;
}
.home-content p{
    color: rgb(171, 173, 174);
    font-weight: 700;
    margin-top: 1rem;
}

.home-content .button{
    margin-top: 1rem;
    padding: 0.5rem 1.3rem;
    border-radius: 2px;
    background-color: white;
    text-decoration: none;
    color: black;
}
.home-content .button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    margin-left: 2px;
}
.single{
    font-size: 40px;
    font-weight: 700;
    text-shadow: 1px 1px 5px #c2c5c4;
}
sup{
    font-weight: 700;
    font-size: xx-large;
    text-shadow: 1px 1px 5px #c2c5c4;
}
#bg{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}
.reset-card{
    width: 40vw;
    height:40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: relative;
    margin-top: 1rem;
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: 1px 0px 16px #b1b6b3;
}
.reset-card input{
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem;
}
.reset-card button{
    width: 50%;
    margin: 0 auto;
    padding: 0.2rem;
}
.reset-card button:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}
.title-reset h2{
    color: white;
    text-align: center;
}
.title-reset{
    top: 0;
    position: absolute;
    left: 30%;
}

@media(max-width:1200px){
    .reset-card{
        width: 50vw;
        margin-top: 2.4rem;
    }

}
@media(max-width:870px){
    .reset-card{
        width: 70vw;
        margin-top: 2.8rem;
    }
}
@media(max-width:600px){
    .reset-card{
        width: 88vw;
        margin-top: 3.5rem;
    }
    .reset-card input{
        width: 60%;
    }
    .reset-card button{
        width: 50%;
    }
    body{
        padding: 0;
    }
}
@media(max-width:420px){
    .reset-card{
        width: 90vw;
        height: 60vh;
    }
    .title-reset{
        left: 23%;
    }
    .reset-card input{
        width: 70%;
    }
    .reset-card button{
        width: 60%;
    }

}
@media(max-width:992px){
    .abs{
        position: absolute;
        width: 82%;
        text-align: center;
        z-index: 10;
        background-color: #5a5b5b;
        border-radius: 7px;
    }
}
