*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    min-height: 100vh;
}
.logout{
    background-color: transparent;
    color: white;
    margin: auto 0.2rem;
    height: 100%;
}
.custom{
    background-color: transparent !important;
}
.custom-col{
    color: white !important;
    font-weight: 700;
}
.single{
    font-size: 40px;
    font-weight: 700;
    text-shadow: 1px 1px 5px #c2c5c4;
}
sup{
    font-weight: 700;
    font-size: xx-large;
    text-shadow: 1px 1px 5px #c2c5c4;
}
.greeting{
    text-align: center;
    color: white;
}
.greeting h1{
    font-size: x-large;
    font-weight: 700;
}
.cus-form{
    background-color: transparent;
    color: white;
}
.collection-from{
    height: 60vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid rgb(85, 83, 83);
    box-shadow: 1px 0px 16px #b1b6b3;
    border-radius: 7px;
    position: relative;
}
.collection-from form{
    color: white;
    display: flex;
    width: 70%;
    flex-direction: column;
    gap:1.5rem;
    justify-content: center;
    margin: 0 auto
}

.color{
    width: 100%;
    border-radius: 4px;
    height: 2rem;
}
.color[type="color"]::-webkit-color-swatch {
    width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
    height: 2rem;
}

.image-container{
    height: 100%;
    width: 45%;
    position: relative;
    border-left:1px solid #c2c5c4;
    display: flex;
    justify-content: center;
}
.image-container img{
    width: 100%;
}
.form-div{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
}
.text-inp{
    padding: 1rem;
    border-radius: 9px;
}
.heading{
    position: absolute;
    color: white;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top:10px;
}
.heading h3{
    font-weight: 700;
}
.form-div button{
    width: 70%;
    margin: 0 auto;
    padding: 0.4rem;
}
.form-div button:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.collection-container{
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 1rem auto;
    gap:0.5rem;
}
.collection-card{
    background-color: rgb(57, 57, 57);
    margin-bottom: 1rem;
    border-radius: 7px;
    border:1px solid slategray;
    position: relative;
    display: flex;
    flex-direction: column;
}
.collection-title{
    color: white;
    text-align: center;
    border:1px solid slategray;
    font-weight: 700;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.collection-todo{
    padding: 0.2rem;
    color: white;
}
.collection-todo p{
    margin: 0;
}
.collection-delete{
    display: inline-block;
    position: absolute;
    right: 2px;
}
.collection-delete button{
    background-color: transparent;
    border: none;
    color: white;
}
.empty-collection{
    color: white;
    text-align: center;
    margin-top: 2rem;
}
.view-more button{
    width: 100%;
    background-color: black;
    color: white;
    border:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-weight: 700;
}
.view-more{
    bottom: 0;
    margin-top: auto;
}

.add-task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1.2rem;
}
.task-card{
    color: rgb(0, 0, 0);
    text-align: center;
    width: 50vw;
    margin: 0.2rem auto;
    background-color: #b1b6b3;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    align-items: flex-end;
}
.add-task-form button{
    background: transparent;
    color:rgba(255, 255, 255, 0.975);
}
.change{
   scale: 1.8 !important;
}
.button-in{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.button-in input{
    padding: 0.5rem 1rem;
    border-radius: 7px; 
    width: 30vw;
}
.task{
    display: inline-block;
}
.task-completed-form{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
.delete-button{
    align-self: baseline;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
}
.delete-button[type=checkbox]:checked~.task{
    text-decoration: line-through;
  }
@media(max-width:1120px){
    .task-card{
        width: 70vw;
    }
    .button-in input{
        width: 45vw;
    }
}
@media(max-width:1000px){
    .collection-container{
        grid-template-columns: 1fr;
        width: 90vw;
    }
} 
@media(max-width:960px){
    .collection-from{
        width: 89vw;
    }
}
@media(max-width:660px){
    .image-container{
        display: none;
    }
    .form-div{
        width: 75%;
    }
    .task-card{
        width: 95vw;
    }
    .button-in input{
        width: 75vw;
    }
    .add-task{
        margin-top: 2.5rem;
    }
}
@media(max-width:420px){
    .form-div{
        width: 100%;
    }
    .form-div button{
        width: 85%;
    }
    .collection-container{
        width: 98vw;
    }
}