<%- include("../partials/header") -%>
<div id="bg"></div>
 <div class="main">
    <div class="home-content">
    <h1>Things To Do...,Just Do It.</h1>
    <p>keep track of daily tasks in life <br>
        get the satisfaction upon completion</p>
    <form>
        <button>Login</button>
        <button>SignUp</button>
    </form>
    </div>
</div>

<%- include("../partials/footer") -%>